/* Base styles */
body {
  margin: 0;
  font-family: sans-serif;
  background: #121212;
  color: #e0e0e0;
}

/* Layout container */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Form controls */
input,
select {
  background: #1e1e1e;
  color: #fff;
  padding: 10px;
  border: none;
  margin-bottom: 2px;
}

input[type="search"] {
  width: 100%;
  margin: 10px 0;
  background: #222;
  border: 1px solid #444;
}

/* Search bar */
.search-bar-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar-row input[type="search"] {
  flex: 1;
  margin: 0;
}

/* Dropdown styles */
.filter-dropdown {
  position: relative;
}

.filter-dropdown button {
  display: flex;
  align-items: center;
  gap: 80px;
  border-radius: 6px;
  background: #2a2a2a;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  width: fit-content;
}

.filter-dropdown button:hover {
  background: #444;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 8px;
}

.filter-buttons button {
  padding: 6px 6px;
  font-size: 0.85em;
  border-radius: 6px;
  background: #2a2a2a;
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
}

.filter-buttons button:hover {
  background: #3a3a3a;
}

#Arrow {
  font-size: 0.9em;
}

.dropdown-panel {
  position: absolute;
  top: 110%;
  left: 0;
  background: #1e1e1e;
  padding: 12px;
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropdown-panel label {
  margin-bottom: 2px;
  font-size: 0.9em;
}

.dropdown-panel li {
  width: 50%
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 6px;
  text-align: left;
}

th {
  background: #333;
  cursor: pointer;
}

th.sorted-asc::after {
  content: ' ▲';
}

th.sorted-desc::after {
  content: ' ▼';
}

/* Table row striping */
#pullsTable tbody tr.even {
  background-color: #1e1e1e;
}

#pullsTable tbody tr.odd {
  background-color: #2a2a2a;
}

/* Utility */
.hidden {
  display: none;
}
